body{
    background: rgb(238, 227, 227);
}

#contenedor{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    
    
}

#zonaformulario{
    float: left;
    padding: 20px;
    border: 1px solid red;
    margin-left: 150px;
}

#zonadatos{
    float: left;
    width: 300px;
    margin-left: 20px;
    padding: 20px;
    border: 1px dashed blue;
    
}
